h1 {
    text-align: center;
}

#videoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videoBlock {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.videoBlock img {
    width: 100%;
}

.videoBlock p {
    margin-top: 5px;
    font-weight: bold;
}
